In [1]:
import pandas as pd
import numpy as np
import operator
import json

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("admission_data.csv")
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,242,317,103,2,2.5,2.0,8.15,0,0.65
1,334,319,108,3,3.0,3.5,8.54,1,0.71
2,4,322,110,3,3.5,2.5,8.67,1,0.80
3,45,326,113,5,4.5,4.0,9.40,1,0.91
4,232,319,106,3,3.5,2.5,8.33,1,0.74

In [3]:
X_train, X_test, y_train, y_test = train_test_split(
    data[['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research']],
    data[['Chance of Admit']],
    test_size=0.2,
    random_state=0)

In [4]:
for col in X_train:
    mean = X_train[col].mean()
    std = X_train[col].std()
    X_train[col] = (X_train[col] - mean)/std
    X_test[col] = (X_test[col]-mean)/std

In [5]:
X_train['Ones'] = [1]*len(X_train)
X_test['Ones'] = [1]*len(X_test)

In [6]:
class LinearRegression:
    theta = None
    
    def predict(self, X):
        Y_pred = np.dot(X.values,self.theta.T)
        return Y_pred
    
    def compute_error(self, Y_pred, Y_actual):
        m = len(Y_pred)
        d = Y_pred - Y_actual
        sq = d*d
        s = np.sum(sq)
        error = (1.0/(2*float(m)))*s
        return error
       
    def computeCost(self, X, Y):
        m = len(X)
        h = np.dot(X,self.theta.T)
        d = h-Y
        sq = d*d
        s = np.sum(sq)
        cost = (1.0/(2*float(m)))*s
        return cost
    
    def train(self, X_train, y_train, alpha, max_epochs):
        self.theta = None
        self.theta = np.random.rand(1,X_train.shape[1])
        m = len(X_train)
        for i in range(0,max_epochs):
            X = X_train.values
            h = np.dot(X,self.theta.T)
            Y = y_train.values
            d = h-Y
            t1 = X*d
            s = np.sum(t1,axis=0)
            self.theta = self.theta - (1.0/float(m))*alpha*s
            #print 'Current cost : '+str(self.computeCost(X,Y))

In [7]:
ln = LinearRegression()
ln.train(X_train,y_train,0.1, 2000)
y_train_pred = ln.predict(X_train)
y_test_pred = ln.predict(X_test)
train_mse = ln.compute_error(y_train_pred, y_train.values)
test_mse = ln.compute_error(y_test_pred, y_test.values)
print 'Train set mean squared error : '+str(train_mse)
print 'Test set mean squared error : '+str(test_mse)

Train set mean squared error : Chance of Admit    0.001876
dtype: float64
Test set mean squared error : Chance of Admit    0.001623
dtype: float64